.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.title, .logo {
    padding: 1em 2em 2em 0.5em;
}

.title p {
    font-style: italic;
}


.header li a {
    font-family: $h2-6-font;
    font-weight: bold; 
    text-decoration: none;
    font-size: 1.24em; 
}

.header i {
    font-size: 1.5em;
}

.header .li-icon {
    padding: 0.375em 0.375em 0 0.5em;
}

.header .li-icon-night {
    padding: 0.375em 0.7em 0 0.9em;
}

.header {
    clip-path: polygon(100% 0, 100% 100%, 66% 87%, 0 100%, 0 0);
}

.header::after {
    background: url('../../../assets/img/sand.svg');
    opacity: 0.05;
    content: '';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
}
