@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0.25em;
    }
    
    .title {
        min-width: 50%;
    }
     
    .logo {
        max-width: 30%;
    }
    
    html, .root {
        font-size: 16px;
        line-height: 24px;
    }

    body, .article {
        font-size: 1em;
        line-height: 1.5em;
        margin: auto;
    }

    h1, .h1 {
        font-size: 1.9375em;
        line-height: 1.5483871em;
        margin-top: 0.77419355em;
        margin-bottom: 1.5483871em;
    }

    h2, .h2 {
        font-size: 1.5625em;
        line-height: 1.92em;
        margin-top: 0.96em;
        margin-bottom: 0.96em;
    }

    h3, .h3 {
        font-size: 1.25em;
        line-height: 1.2em;
        margin-top: 1.2em;
        margin-bottom: 0;
    }

    h4, .h4 {
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    h5, .h5 {
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    p, ul, ol, pre, table, blockquote {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    ul ul, ol ol, ul ol, ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }
      
    /* Let's make sure all's aligned */
    hr, .hr {
        border: 1px solid;
        margin: -1px 0;
    }

    a, b, i, strong, em, small, code {
        line-height: 0;
    }

    sub, sup {
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    .tech-nav {
        display: none;   
    }

    .technology {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .landingpage {
        grid-template-columns: 1fr;
        gap: 1em 0;
    }

    .box, .box-2, .box-3 {
        grid-column: 1;
    }

}

