@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css?family=Oswald|Poly|Arsenal&display=swap');
@import 'placement';
@import 'header';
@import 'responsive';
@import 'footer';
@import 'typography';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

* {
    font-family: $p-font;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

.main {
    padding-left: 0.5em;
    padding-right: 0.5em;
}