$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #dda88a;
$background-color: rgb(220, 214, 200);
$background-alternative-color: #8ab9dd;
$h1-font: 'Oswald', sans-serif;
$h2-6-font: 'Arsenal', sans-serif;
$p-font: 'Poly', serif;